/* Visualization.module.css */

/* Ideology */
    /* Type One */
        /* Items A */
        .ideology_1a_0 {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/ideology/type_one/items_a/ideology_1a_0.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .ideology_1a_1pt7 {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/ideology/type_one/items_a/ideology_1a_1pt7.png');
            background-size: contain;
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
        }
        .ideology_1a_3pt3 {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/ideology/type_one/items_a/ideology_1a_3pt3.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .ideology_1a_5 {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/ideology/type_one/items_a/ideology_1a_5.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .ideology_1a_6pt7 {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/ideology/type_one/items_a/ideology_1a_6pt7.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .ideology_1a_8pt3 {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/ideology/type_one/items_a/ideology_1a_8pt3.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .ideology_1a_10 {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/ideology/type_one/items_a/ideology_1a_10.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
    /* Items B */
        .ideology_1b_bottomleft {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/ideology/type_one/items_b/ideology_1b_bottomleft.png');
            background-size: cover;
        }
        .ideology_1b_bottomright {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/ideology/type_one/items_b/ideology_1b_bottomright.png');
            background-size: cover;
        }
        .ideology_1b_topleft {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/ideology/type_one/items_b/ideology_1b_topleft.png');
            background-size: cover;
        }
        .ideology_1b_topright {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/ideology/type_one/items_b/ideology_1b_topright.png');
            background-size: cover;
        }
/* Type Two */
    /* Items A */
        .ideology_2a_4 {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/ideology/type_two/items_a/ideology_2a_4.png');
            background-size: cover;
        }
    /* Items B */            
        .ideology_2b_4 {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/ideology/type_two/items_b/ideology_2b_4.png');
            background-size: cover;
        }
        
/* Leaning */
/* Type One */
    /* Items A */
        .leaning_1a_0 {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/leaning/type_one/items_a/leaning_1a_0.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .leaning_1a_1pt7 {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/leaning/type_one/items_a/leaning_1a_1pt7.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .leaning_1a_3pt3 {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/leaning/type_one/items_a/leaning_1a_3pt3.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .leaning_1a_5 {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/leaning/type_one/items_a/leaning_1a_5.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .leaning_1a_6pt7 {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/leaning/type_one/items_a/leaning_1a_6pt7.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .leaning_1a_8pt3 {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/leaning/type_one/items_a/leaning_1a_8pt3.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .leaning_1a_10 {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/leaning/type_one/items_a/leaning_1a_10.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
    /* Items B */
        .leaning_1b_0 {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/leaning/type_one/items_b/leaning_1b_0.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .leaning_1b_1pt7 {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/leaning/type_one/items_b/leaning_1b_1pt7.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .leaning_1b_3pt3 {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/leaning/type_one/items_b/leaning_1b_3pt3.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .leaning_1b_5 {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/leaning/type_one/items_b/leaning_1b_5.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .leaning_1b_6pt7 {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/leaning/type_one/items_b/leaning_1b_6pt7.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .leaning_1b_8pt3 {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/leaning/type_one/items_b/leaning_1b_8pt3.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .leaning_1b_10 {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/leaning/type_one/items_b/leaning_1b_10.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
/* Type Two */
    /* Items A */
        .leaning_2a_0 {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/leaning/type_two/items_a/leaning_2a.png');
            background-size: contain;
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
        }
    /* Items B */
        .leaning_2b_0 {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/leaning/type_two/items_b/leaning_2b.png');
            background-size: contain;
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
        }


/* Parties */
/* Type One */
    /* Items A */
        .parties_1a_afd {
            width: 481.27px;
            height: 223.5px;
            background-image: url('/images/parties/type_one/items_a/parties_1a_afd.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .parties_1a_cdu {
            width: 481.27px;
            height: 223.5px;
            background-image: url('/images/parties/type_one/items_a/parties_1a_cdu.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .parties_1a_fdp {
            width: 481.27px;
            height: 223.5px;
            background-image: url('/images/parties/type_one/items_a/parties_1a_fdp.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .parties_1a_grune {
            width: 481.27px;
            height: 223.5px;
            background-image: url('/images/parties/type_one/items_a/parties_1a_grune.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .parties_1a_linke {
            width: 481.27px;
            height: 223.5px;
            background-image: url('/images/parties/type_one/items_a/parties_1a_linke.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .parties_1a_spd {
            width: 481.27px;
            height: 223.5px;
            background-image: url('/images/parties/type_one/items_a/parties_1a_spd.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
    /* Items B */
        .parties_1b_afd {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/parties/type_one/items_b/parties_1b_afd.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .parties_1b_cdu {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/parties/type_one/items_b/parties_1b_cdu.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .parties_1b_fdp {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/parties/type_one/items_b/parties_1b_fdp.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .parties_1b_grune {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/parties/type_one/items_b/parties_1b_grune.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .parties_1b_linke {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/parties/type_one/items_b/parties_1b_linke.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .parties_1b_spd {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/parties/type_one/items_b/parties_1b_spd.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
/* Type Two */
    /* Items A */
        .parties_2a_0 {
            width: 481.455px;
            height: 203.58px;
            background-image: url('/images/parties/type_two/items_a/parties_2a.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
    /* Items B */
        .parties_2b_0 {
            width: 481.712px;
            height: 331.296px;
            background-image: url('/images/parties/type_two/items_b/parties_2b.png');
            background-size: contain;
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
        }