/* Visualization.module.css */

/* This file contains the CSS styles for the visualizations used in the survey
 * questions. The styles are used to make the sizes of each image uniform.
 *
 * The styles are organized by the group of visualizations that they belong to.
 * For example, the styles for the "ideology" visualizations are grouped under
 * the ".ideology" class, and the styles for the "parties" visualizations are
 * grouped under the ".parties" class.
 *
 * The styles are written in CSS syntax and are applied to the HTML elements
 * that are used to render the visualizations.
 */

/* Item 1 */
.ideology_1a_item_1_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_1/ideology_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_1b_item_1_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_1/ideology_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2a_item_1_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_1/ideology_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2b_item_1_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_1/ideology_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1a_item_1_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_1/leaning_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1b_item_1_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_1/leaning_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2a_item_1_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_1/leaning_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2b_item_1_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_1/leaning_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1a_item_1_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_1/parties_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1b_item_1_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_1/parties_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2a_item_1_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_1/parties_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2b_item_1_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_1/parties_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Item 2 */
.ideology_1a_item_2_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_2/ideology_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_1b_item_2_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_2/ideology_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2a_item_2_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_2/ideology_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2b_item_2_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_2/ideology_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1a_item_2_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_2/leaning_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1b_item_2_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_2/leaning_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2a_item_2_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_2/leaning_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2b_item_2_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_2/leaning_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1a_item_2_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_2/parties_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1b_item_2_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_2/parties_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2a_item_2_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_2/parties_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2b_item_2_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_2/parties_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Item 3 */
.ideology_1a_item_3_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_3/ideology_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_1b_item_3_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_3/ideology_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2a_item_3_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_3/ideology_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2b_item_3_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_3/ideology_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1a_item_3_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_3/leaning_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1b_item_3_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_3/leaning_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2a_item_3_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_3/leaning_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2b_item_3_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_3/leaning_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1a_item_3_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_3/parties_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1b_item_3_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_3/parties_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2a_item_3_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_3/parties_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2b_item_3_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_3/parties_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Item 4 */
.ideology_1a_item_4_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_4/ideology_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_1b_item_4_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_4/ideology_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2a_item_4_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_4/ideology_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2b_item_4_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_4/ideology_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1a_item_4_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_4/leaning_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1b_item_4_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_4/leaning_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2a_item_4_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_4/leaning_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2b_item_4_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_4/leaning_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1a_item_4_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_4/parties_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1b_item_4_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_4/parties_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2a_item_4_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_4/parties_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2b_item_4_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_4/parties_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Item 5 */
.ideology_1a_item_5_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_5/ideology_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_1b_item_5_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_5/ideology_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2a_item_5_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_5/ideology_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2b_item_5_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_5/ideology_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1a_item_5_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_5/leaning_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1b_item_5_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_5/leaning_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2a_item_5_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_5/leaning_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2b_item_5_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_5/leaning_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1a_item_5_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_5/parties_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1b_item_5_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_5/parties_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2a_item_5_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_5/parties_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2b_item_5_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_5/parties_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Item 6 */
.ideology_1a_item_6_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_6/ideology_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_1b_item_6_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_6/ideology_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2a_item_6_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_6/ideology_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2b_item_6_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_6/ideology_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1a_item_6_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_6/leaning_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1b_item_6_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_6/leaning_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2a_item_6_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_6/leaning_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2b_item_6_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_6/leaning_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1a_item_6_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_6/parties_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1b_item_6_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_6/parties_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2a_item_6_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_6/parties_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2b_item_6_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_6/parties_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Item 7 */
.ideology_1a_item_7_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_7/ideology_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_1b_item_7_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_7/ideology_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2a_item_7_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_7/ideology_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2b_item_7_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_7/ideology_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1a_item_7_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_7/leaning_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1b_item_7_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_7/leaning_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2a_item_7_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_7/leaning_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2b_item_7_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_7/leaning_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1a_item_7_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_7/parties_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1b_item_7_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_7/parties_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2a_item_7_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_7/parties_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2b_item_7_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_7/parties_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Item 8 */
.ideology_1a_item_8_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_8/ideology_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_1b_item_8_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_8/ideology_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2a_item_8_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_8/ideology_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2b_item_8_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_8/ideology_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1a_item_8_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_8/leaning_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1b_item_8_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_8/leaning_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2a_item_8_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_8/leaning_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2b_item_8_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_8/leaning_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1a_item_8_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_8/parties_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1b_item_8_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_8/parties_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2a_item_8_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_8/parties_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2b_item_8_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_8/parties_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Item 9 */
.ideology_1a_item_9_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_9/ideology_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_1b_item_9_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_9/ideology_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2a_item_9_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_9/ideology_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2b_item_9_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_9/ideology_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1a_item_9_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_9/leaning_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1b_item_9_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_9/leaning_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2a_item_9_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_9/leaning_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2b_item_9_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_9/leaning_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1a_item_9_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_9/parties_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1b_item_9_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_9/parties_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2a_item_9_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_9/parties_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2b_item_9_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_9/parties_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Item 10 */
.ideology_1a_item_10_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_10/ideology_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_1b_item_10_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_10/ideology_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2a_item_10_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_10/ideology_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2b_item_10_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_10/ideology_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1a_item_10_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_10/leaning_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1b_item_10_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_10/leaning_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2a_item_10_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_10/leaning_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2b_item_10_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_10/leaning_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1a_item_10_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_10/parties_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1b_item_10_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_10/parties_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2a_item_10_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_10/parties_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2b_item_10_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_10/parties_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Item 11 */
.ideology_1a_item_11_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_11/ideology_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_1b_item_11_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_11/ideology_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2a_item_11_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_11/ideology_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2b_item_11_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_11/ideology_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1a_item_11_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_11/leaning_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1b_item_11_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_11/leaning_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2a_item_11_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_11/leaning_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2b_item_11_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_11/leaning_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1a_item_11_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_11/parties_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1b_item_11_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_11/parties_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2a_item_11_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_11/parties_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2b_item_11_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_11/parties_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Item 12 */
.ideology_1a_item_12_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_12/ideology_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_1b_item_12_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_12/ideology_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2a_item_12_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_12/ideology_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2b_item_12_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_12/ideology_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1a_item_12_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_12/leaning_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1b_item_12_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_12/leaning_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2a_item_12_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_12/leaning_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2b_item_12_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_12/leaning_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1a_item_12_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_12/parties_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1b_item_12_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_12/parties_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2a_item_12_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_12/parties_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2b_item_12_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_12/parties_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Item 13 */
.ideology_1a_item_13_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_13/ideology_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_1b_item_13_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_13/ideology_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2a_item_13_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_13/ideology_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2b_item_13_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_13/ideology_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1a_item_13_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_13/leaning_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1b_item_13_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_13/leaning_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2a_item_13_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_13/leaning_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2b_item_13_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_13/leaning_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1a_item_13_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_13/parties_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1b_item_13_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_13/parties_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2a_item_13_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_13/parties_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2b_item_13_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_13/parties_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Item 14 */
.ideology_1a_item_14_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_14/ideology_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_1b_item_14_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_14/ideology_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2a_item_14_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_14/ideology_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2b_item_14_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_14/ideology_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1a_item_14_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_14/leaning_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1b_item_14_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_14/leaning_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2a_item_14_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_14/leaning_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2b_item_14_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_14/leaning_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1a_item_14_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_14/parties_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1b_item_14_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_14/parties_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2a_item_14_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_14/parties_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2b_item_14_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_14/parties_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Item 15 */
.ideology_1a_item_15_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_15/ideology_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_1b_item_15_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_15/ideology_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2a_item_15_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_15/ideology_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2b_item_15_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_15/ideology_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1a_item_15_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_15/leaning_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1b_item_15_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_15/leaning_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2a_item_15_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_15/leaning_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2b_item_15_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_15/leaning_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1a_item_15_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url

('/imgs_by_items/item_15/parties_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1b_item_15_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_15/parties_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2a_item_15_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_15/parties_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2b_item_15_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_15/parties_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Item 16 */
.ideology_1a_item_16_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_16/ideology_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_1b_item_16_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_16/ideology_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2a_item_16_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_16/ideology_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2b_item_16_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_16/ideology_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1a_item_16_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_16/leaning_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1b_item_16_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_16/leaning_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2a_item_16_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_16/leaning_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2b_item_16_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_16/leaning_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1a_item_16_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_16/parties_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1b_item_16_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_16/parties_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2a_item_16_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_16/parties_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2b_item_16_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_16/parties_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Item 17 */
.ideology_1a_item_17_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_17/ideology_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_1b_item_17_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_17/ideology_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2a_item_17_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_17/ideology_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2b_item_17_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_17/ideology_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1a_item_17_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_17/leaning_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1b_item_17_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_17/leaning_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2a_item_17_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_17/leaning_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2b_item_17_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_17/leaning_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1a_item_17_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_17/parties_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1b_item_17_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_17/parties_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2a_item_17_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_17/parties_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2b_item_17_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_17/parties_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Item 18 */
.ideology_1a_item_18_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_18/ideology_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_1b_item_18_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_18/ideology_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2a_item_18_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_18/ideology_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2b_item_18_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_18/ideology_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1a_item_18_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_18/leaning_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1b_item_18_ {


    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_18/leaning_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2a_item_18_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_18/leaning_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2b_item_18_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_18/leaning_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1a_item_18_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_18/parties_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1b_item_18_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_18/parties_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2a_item_18_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_18/parties_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2b_item_18_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_18/parties_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Item 19 */
.ideology_1a_item_19_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_19/ideology_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_1b_item_19_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_19/ideology_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2a_item_19_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_19/ideology_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2b_item_19_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_19/ideology_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1a_item_19_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_19/leaning_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1b_item_19_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_19/leaning_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2a_item_19_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_19/leaning_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2b_item_19_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_19/leaning_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1a_item_19_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_19/parties_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1b_item_19_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_19/parties_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2a_item_19_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_19/parties_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2b_item_19_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_19/parties_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Item 20 */
.ideology_1a_item_20_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_20/ideology_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_1b_item_20_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_20/ideology_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2a_item_20_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_20/ideology_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2b_item_20_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_20/ideology_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1a_item_20_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_20/leaning_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1b_item_20_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_20/leaning_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2a_item_20_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_20/leaning_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2b_item_20_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_20/leaning_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1a_item_20_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_20/parties_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1b_item_20_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_20/parties_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2a_item_20_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_20/parties_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2b_item_20_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_20/parties_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Item 21 */
.ideology_1a_item_21_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_21/ideology_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_1b_item_21_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_21/ideology_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2a_item_21_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_21/ideology_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2b_item_21_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_21/ideology_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1a_item_21_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_21/leaning_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1b_item_21_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_21/leaning_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2a_item_21_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_21/leaning_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2b_item_21_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_21/leaning_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1a_item_21_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_21/parties_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1b_item_21_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_21/parties_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2a_item_21_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_21/parties_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2b_item_21_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_21/parties_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Item 9999 */
.ideology_1a_item_9999_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_10/ideology_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_1b_item_9999_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_10/ideology_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2a_item_9999_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_10/ideology_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideology_2b_item_9999_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_10/ideology_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1a_item_9999_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_10/leaning_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_1b_item_9999_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_10/leaning_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2a_item_9999_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_10/leaning_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leaning_2b_item_9999_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_10/leaning_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1a_item_9999_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_10/parties_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_1b_item_9999_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_10/parties_1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2a_item_9999_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_10/parties_2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.parties_2b_item_9999_ {
    width: 481.455px;
    height: 203.58px;
    background-image: url('/imgs_by_items/item_10/parties_2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}